.product-list {
  
  text-align: center;
  width: 85vw;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%,20rem), 1fr));
  grid-gap: 1.75rem;
}

.imagen {
  width: 22.25rem;
}

