a, a:visited, a:link, a:focus, a:hover, a:active{
  list-style: none;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ----- FONTS ----- */
@font-face{
  font-family: Mermaid;
  src: url("../../src/fonts/Mermaid1001.ttf") format("opentype");
}
@font-face{
  font-family: MyriadPro-Regular;
  src: url("../../src/fonts/MyriadPro-Regular.otf") format("opentype");
}
@font-face{
  font-family: MyriadPro-BoldIt;
  color: #000;
  src: url("../../src/fonts/MyriadPro-BoldIt.otf") format("opentype");
}
@font-face{
  font-family: MyriadPro-It;
  color: #000;
  src: url("../../src/fonts/MyriadPro-It.otf") format("opentype");
}
@font-face{
  font-family: MyriadPro-Bold;
  color: #000;
  src: url("../../src/fonts/MyriadPro-Bold.otf") format("opentype");
}

/* ----- Main Page ----- */
body {
  background: #ffffff;
  overflow-x: hidden;
}

.titleMsg{
  text-align: center;
  font-size: 70px;
  color: #ec667f;
  font-family: Mermaid;
  width: 50%;
  margin: auto 25% auto 25%;
}


/* ------ Nosotras / product */
.about-container {
  border: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin: 50px auto;
  overflow: auto;
}
.about-info{
  background-color: #ffffff;
  max-width: 100%;
  padding: 70px 50px;
  
}